@font-face {
    font-family: 'Belen';
    src: url('/fonts/Belen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.btn-belen {
    font-family: 'Belen', serif;
    background-color: transparent; /* Fondo transparente por defecto */
    border: none;
    color: #000; /* Letra negra */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Estilo al pasar el cursor (hover) o al seleccionar (focus) */
.btn-belen:hover,
.btn-belen:focus {
    background-color: #333; /* Fondo gris oscuro */
    color: #000; /* Letra negra, si quieres que se mantenga negra */
}

